<mat-toolbar class="mattoolbar" fxLayoutAlign="center center">
    <mat-toolbar-row>
        <div class="imgandtext" fxLayout="row" fxLayout.xs="row">
            <div>
                <img class="book" src="../../../assets/education (1).svg" alt="">
            </div>
            <div class="text">
                <h2>Bookstore</h2>
            </div>

        </div>

        <mat-card class="searchbar" fxLayout="row" fxLayout.xs="row">
            <img class="searchimg" src="../../../assets/search_black_24dp (1).svg" alt="">
            <input class="search1" type="text" name="search" placeholder="search..." fxHide.xs fxHide.sm>
        </mat-card>
        <div class="profile" fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="row" fxFlex.xs="50">
            <img class="profileimg" src="../../../assets/person_white_24dp.svg" alt="">
            <p>Profile</p>
        </div>
        <div class="cart" fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="row" fxFlex.xs="50">
            <img class="cartimg" src="../../../assets/shopping_cart_white_24dp.svg" alt="">
            <p>Cart</p>
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<div>
    <router-outlet></router-outlet>
</div>